#hobby {
    width: 100vw;
    max-width: 65rem;
    position: relative;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.images {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 65rem;
    margin: 4rem 15%;
    border-radius: 2rem;
    overflow: hidden;
}

.img-slider-img {
    object-fit: cover;
    width: 100vw;
    max-width: 65rem;
    height: 40rem;
    flex-shrink: 0;
    flex-grow: 0;
    transition: translate 300ms ease-in-out;
}

.img-slider-btn {
    all: unset;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: 15rem;
    padding: 1rem;
    cursor: pointer;
    transition: background-color 100ms ease-in-out;
}

.img-slider-btn:hover,
.img-slider-btn:focus-visible {
    background-color: rgb(0, 0, 0, 0.2);
}

.img-slider-btn:hover > *, 
.img-slider-btn:focus-visible > * {
    animation: squish 200ms ease-in-out;
}

.img-slider-btn > * {
    stroke: white;
    fill: black;
    width: 2rem;
    height: 2rem;
}

@keyframes squish {
    50% {
        scale: 1.4 0.6;
    }
}

.img-slider-dots {
    display: flex; 
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: 35rem;
}

.img-slider-dot-btn {
    all: unset;
    display: block;
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    transition: scale 100ms ease-in-out;
}

.img-slider-dot-btn:hover,
.img-slider-dot-btn:focus-visible {
    scale: 1.2;
}

.img-slider-dot-btn > * {
    stroke: white;
    fill: black;
    height: 100%;
    width: 100%;
}

.img-slider-dot-btn:focus-visible,
.img-slider-btn:focus-visible {
    outline: auto;
}