#works {
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}

.worksTitle {
    margin-top: -20rem;
    margin-bottom: 4rem;
    font-size: 3rem;
    color: rgb(184, 35, 122);
}

.worksDescription {
    font-weight: 300;
    font-size: 1rem;
    max-width: 45rem;
    margin-bottom: 4rem;
}

.worksImgs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 65rem;
    margin-bottom: 2rem;
}

.worksImg {
    object-fit: cover;
    height: 15rem;
    margin: 0.5rem;
    transition: transform .2s;
}

.worksImg:hover {
    transform:scale(1.5)
}

.worksBtn {
    padding: 0.5rem 2.5rem;
    border: none;
    background: rgb(168, 58, 123);
    border-radius: 2rem;
    font-size: 1rem;
}

.worksBtn:hover {
    cursor: pointer;
    background: rgb(136, 46, 136);
}

hr { 
    height: 2rem;
    margin: 1rem 25% 3rem 25%; 
    border-style: solid; 
    border-color: #8c8b8b; 
    border-width: 3px 0 0 0; 
    border-radius: 2rem; 
} 
  

@media screen and (max-width:585px) {
    .worksImg {
        height: 48vw;
    }
}